In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import os
import random
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler  
from sklearn import linear_model
from sklearn import metrics
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix, f1_score, roc_auc_score
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from xgboost import plot_importance

In [3]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.4.1-py3-none-win_amd64.whl (97.8 MB)
Requirement already satisfied: numpy in c:\users\jaemini_man\anaconda3\lib\site-packages (from xgboost) (1.19.2)
Requirement already satisfied: scipy in c:\users\jaemini_man\anaconda3\lib\site-packages (from xgboost) (1.5.2)
Installing collected packages: xgboost
Successfully installed xgboost-1.4.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
path = os.getcwd()

In [ ]:
os.listdir(path)

In [391]:
########### read csv files

In [65]:
PL = pd.read_csv('PL.csv').iloc[:,1:]
BL = pd.read_csv('BL.csv').iloc[:,1:]
LIGA = pd.read_csv('LIGA.csv').iloc[:,1:]
SE = pd.read_csv('SE.csv').iloc[:,1:]
df = pd.concat([PL,LIGA,BL,SE], axis=0)

In [82]:
BL

,Unnamed: 0,home_shot,away_shot,home_possession,away_possession,home_pass_success,away_pass_success,home_dribbles,away_dribbles,home_aerials_won,...,away_last_5_possession,home_last_5_conceded,away_last_5_conceded,home_last_5_passes,away_last_5_passes,home_last_5_shot,away_last_5_shot,season,home_uefa,away_uefa
0,0,16,8,0.0,0.0,83,73,21,20,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BL1112,22.887,74.887
1,1,7,12,0.0,0.0,65,78,8,19,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BL1112,13.887,13.887
2,2,12,16,0.0,0.0,71,78,8,10,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BL1112,53.887,61.887
3,3,19,9,0.0,0.0,80,74,17,11,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BL1112,92.887,13.887
4,4,7,18,0.0,0.0,76,72,11,5,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BL1112,13.887,39.887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2983,2983,4,21,29.5,70.5,78,90,9,12,11,...,51.04,14.0,9.0,2243.0,2615.0,35.0,62.0,BL2021,60.956,40.956
2984,2984,10,13,43.2,56.8,82,87,11,10,7,...,56.82,11.0,6.0,2778.0,2980.0,46.0,53.0,BL2021,18.956,99.956
2985,2985,8,15,63.4,36.6,83,66,9,9,19,...,44.50,6.0,4.0,2520.0,2017.0,64.0,68.0,BL2021,25.956,21.956
2986,2986,13,12,28.9,71.1,64,88,10,12,18,...,68.44,9.0,7.0,2184.0,3458.0,48.0,76.0,BL2021,19.956,75.956
2987,2987,13,20,56.9,43.1,78,73,5,9,27,...,34.98,6.0,6.0,2398.0,1647.0,41.0,37.0,BL2021,15.956,21.956

In [75]:
PL.to_csv('PL.csv')
LIGA.to_csv('LIGA.csv')
SE.to_csv('SE.csv')
BL.to_csv('BL.csv')

In [66]:
df = df.dropna()

In [32]:
def win(x):
    if x > 0:
        return 1
    if x == 0:
        return 0
    else :
        return -1

In [33]:
result = list(map(win, (df['full_home_score'] - df['full_away_score'])))
len(result)

11903

In [34]:
df['result'] = result

In [35]:
df[df['result']==0].shape[0]/11250

0.26097777777777775

In [36]:
result[result == 0]

0

In [37]:
df[df['result']>0].shape[0]/11250

0.48346666666666666

In [38]:
df[df['result']<0].shape[0]/11250

0.3136

In [39]:
def null_classifier(n_games):
    random_list = np.random.rand(n_games)
    def classifier(x):
        if x < 0.460:
            return 1
        elif x < 0.705:
            return 0
        else :
            return -1
    return(np.array(list(map(classifier, random_list))))

In [40]:
aa = null_classifier(11903)

In [41]:
aa[aa == df['result']].shape[0]/11903

0.35654876921784423

In [42]:
df.columns

Index(['home_shot', 'away_shot', 'home_possession', 'away_possession',
       'home_pass_success', 'away_pass_success', 'home_dribbles',
       'away_dribbles', 'home_aerials_won', 'away_aerials_won', 'home_tackles',
       'away_tackles', 'home_corners', 'away_corners', 'home_dispossessed',
       'away_dispossessed', 'home_missing_player', 'away_missing_player',
       'home', 'away', 'half_home_score', 'half_away_score', 'full_home_score',
       'full_away_score', 'kick_off', 'day', 'date', 'matchup_home_goals',
       'matchup_away_goals', 'matchup_home_wins', 'matchup_draw',
       'matchup_away_wins', 'home_total_att', 'away_total_att',
       'home_open_att', 'away_open_att', 'home_set_att', 'away_set_att',
       'home_counter_att', 'away_counter_att', 'home_pk_att', 'away_pk_att',
       'home_own_att', 'away_own_att', 'home_total_passes',
       'away_total_passes', 'home_crosses_passes', 'away_crosses_passes',
       'home_long_balls', 'away_long_balls', 'home_short_passes',
       'away_short_passes', 'date_no', 'home_last_5_points',
       'away_last_5_points', 'home_last_5_goals', 'away_last_5_goals',
       'home_last_5_possession', 'away_last_5_possession',
       'home_last_5_conceded', 'away_last_5_conceded', 'home_last_5_passes',
       'away_last_5_passes', 'home_last_5_shot', 'away_last_5_shot', 'season',
       'home_uefa', 'away_uefa', 'result'],
      dtype='object')

In [17]:
df = df[['day','home_missing_player','away_missing_player','matchup_home_wins','matchup_draw',
    'matchup_away_wins', 'home_last_5_points', 'away_last_5_points', 'home_last_5_goals',
   'away_last_5_goals', 'home_last_5_conceded','away_last_5_conceded','home_last_5_passes',
   'away_last_5_passes', 'home_last_5_shot', 'away_last_5_shot','home_uefa','away_uefa','result']]

In [18]:
df['day'] = ['weekend' if i in ['Sat', 'Sun'] else 'week' for i in df['day']]

In [19]:
df['result'] = df['result']+1

In [20]:
df.head()

,day,home_missing_player,away_missing_player,matchup_home_wins,matchup_draw,matchup_away_wins,home_last_5_points,away_last_5_points,home_last_5_goals,away_last_5_goals,home_last_5_conceded,away_last_5_conceded,home_last_5_passes,away_last_5_passes,home_last_5_shot,away_last_5_shot,home_uefa,away_uefa,result
49,weekend,1,7,33,17,50,3.0,3.0,3.0,4.0,8.0,7.0,2116.0,2255.0,68.0,73.0,17.157,40.157,1
50,weekend,2,3,50,33,17,7.0,7.0,6.0,4.0,7.0,6.0,2565.0,2087.0,75.0,67.0,115.157,17.157,2
51,weekend,4,5,0,17,83,9.0,4.0,4.0,7.0,2.0,10.0,1919.0,1715.0,63.0,69.0,34.157,30.157,2
52,weekend,6,5,83,0,17,4.0,3.0,6.0,8.0,14.0,13.0,2677.0,2112.0,85.0,66.0,108.157,29.157,2
55,weekend,4,7,0,0,100,8.0,15.0,3.0,21.0,5.0,4.0,1582.0,2752.0,42.0,92.0,17.157,151.157,1

In [21]:
df[['week','weekend']] = pd.get_dummies(df['day'])

In [22]:
df = df.drop(['day'], axis=1)

In [23]:
df

,home_missing_player,away_missing_player,matchup_home_wins,matchup_draw,matchup_away_wins,home_last_5_points,away_last_5_points,home_last_5_goals,away_last_5_goals,home_last_5_conceded,away_last_5_conceded,home_last_5_passes,away_last_5_passes,home_last_5_shot,away_last_5_shot,home_uefa,away_uefa,result,week,weekend
49,1,7,33,17,50,3.0,3.0,3.0,4.0,8.0,7.0,2116.0,2255.0,68.0,73.0,17.157,40.157,1,0,1
50,2,3,50,33,17,7.0,7.0,6.0,4.0,7.0,6.0,2565.0,2087.0,75.0,67.0,115.157,17.157,2,0,1
51,4,5,0,17,83,9.0,4.0,4.0,7.0,2.0,10.0,1919.0,1715.0,63.0,69.0,34.157,30.157,2,0,1
52,6,5,83,0,17,4.0,3.0,6.0,8.0,14.0,13.0,2677.0,2112.0,85.0,66.0,108.157,29.157,2,0,1
55,4,7,0,0,100,8.0,15.0,3.0,21.0,5.0,4.0,1582.0,2752.0,42.0,92.0,17.157,151.157,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3414,5,4,0,0,100,6.0,6.0,9.0,8.0,10.0,10.0,2546.0,2176.0,83.0,65.0,14.945,14.945,0,0,1
3415,3,3,0,40,60,1.0,10.0,3.0,10.0,16.0,3.0,2124.0,2103.0,59.0,63.0,14.945,53.945,0,0,1
3416,6,3,33,33,33,5.0,7.0,10.0,5.0,8.0,5.0,2943.0,2176.0,70.0,54.0,18.945,14.945,0,0,1
3417,4,2,67,17,17,6.0,5.0,4.0,7.0,13.0,9.0,2324.0,2478.0,53.0,66.0,14.945,14.945,2,0,1
3418,3,5,33,33,33,4.0,5.0,5.0,7.0,13.0,7.0,2561.0,2184.0,71.0,57.0,14.945,27.945,1,0,1

In [24]:
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(df.values)

In [25]:
df = pd.DataFrame(x_scaled)

In [26]:
df[17] = df[17].astype(np.str)

In [27]:
X = df.drop([17],axis=1)

In [28]:
y = np.array(result)

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=1)

In [29]:
lm = linear_model.LogisticRegression(multi_class='ovr', solver='liblinear', C=0.1)
lm.fit(X_train, y_train)

LogisticRegression(C=0.1, multi_class='ovr', solver='liblinear')

In [30]:
lm

LogisticRegression(C=0.1, multi_class='ovr', solver='liblinear')

In [31]:
lm.score(X_test, y_test)

0.5110613273592831

In [32]:
clf = MLPClassifier(solver='lbfgs', alpha=1e-5,
                     hidden_layer_sizes=(2, 2), random_state=1, max_iter = 1000)

In [33]:
clf.fit(np.array(X_train), np.array(y_train))

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(2, 2), max_iter=1000,
              random_state=1, solver='lbfgs')

In [34]:
clf.predict(X_test)

array([1, 1, 1, ..., 1, 1, 1])

In [35]:
clf.score(X_test,y_test)

0.45365443853262394

In [36]:
clf.predict_proba(X_test)

array([[0.29765086, 0.24400376, 0.45834538],
       [0.29765086, 0.24400376, 0.45834538],
       [0.29765086, 0.24400376, 0.45834538],
       ...,
       [0.29765086, 0.24400376, 0.45834538],
       [0.29765086, 0.24400376, 0.45834538],
       [0.29765086, 0.24400376, 0.45834538]])

In [37]:
np.array(X_train)

array([[0.00000000e+00, 1.25000000e-01, 5.00000000e-01, ...,
        3.27240480e-02, 0.00000000e+00, 1.00000000e+00],
       [2.00000000e-01, 2.50000000e-01, 1.00000000e+00, ...,
        6.65099211e-04, 0.00000000e+00, 1.00000000e+00],
       [2.66666667e-01, 2.50000000e-01, 6.70000000e-01, ...,
        2.60730559e-02, 1.00000000e+00, 0.00000000e+00],
       ...,
       [2.66666667e-01, 3.75000000e-01, 5.00000000e-01, ...,
        5.92731749e-01, 0.00000000e+00, 1.00000000e+00],
       [1.33333333e-01, 3.12500000e-01, 3.30000000e-01, ...,
        5.25253350e-02, 0.00000000e+00, 1.00000000e+00],
       [3.33333333e-01, 1.25000000e-01, 5.00000000e-01, ...,
        3.01103248e-02, 1.00000000e+00, 0.00000000e+00]])

In [38]:
np.array(y_train)

array([-1,  1,  1, ...,  1,  1,  0])

In [39]:
X_train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,19
3908,0.000000,0.1250,0.50,0.33,0.17,0.333333,0.066667,0.16,0.04,0.238095,0.285714,0.379685,0.475110,0.373832,0.216216,0.161077,0.032724,0.0,1.0
9050,0.200000,0.2500,1.00,0.00,0.00,0.733333,0.400000,0.28,0.16,0.142857,0.333333,0.361946,0.289249,0.392523,0.423423,0.088178,0.000665,0.0,1.0
3404,0.266667,0.2500,0.67,0.17,0.17,0.266667,0.466667,0.36,0.24,0.619048,0.238095,0.246924,0.453608,0.420561,0.486486,0.026073,0.026073,1.0,0.0
8648,0.200000,0.2500,0.67,0.17,0.17,0.333333,0.466667,0.20,0.20,0.428571,0.476190,0.335908,0.445950,0.299065,0.360360,0.013938,0.043109,1.0,0.0
1379,0.200000,0.4375,0.17,0.17,0.67,0.533333,0.466667,0.36,0.44,0.380952,0.476190,0.371960,0.475994,0.626168,0.423423,0.023815,0.105494,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7813,0.266667,0.4375,0.33,0.17,0.50,0.533333,0.266667,0.28,0.12,0.238095,0.333333,0.599428,0.576141,0.476636,0.351351,0.449461,0.175254,0.0,1.0
10955,0.133333,0.0625,0.00,0.33,0.67,0.333333,0.866667,0.16,0.44,0.238095,0.142857,0.358512,0.847717,0.457944,0.684685,0.015577,0.447308,1.0,0.0
905,0.266667,0.3750,0.50,0.33,0.17,0.666667,0.466667,0.36,0.24,0.142857,0.333333,0.452933,0.550515,0.635514,0.369369,0.732753,0.592732,0.0,1.0
5192,0.133333,0.3125,0.33,0.50,0.17,0.333333,0.266667,0.12,0.24,0.380952,0.523810,0.284692,0.273343,0.336449,0.405405,0.052525,0.052525,0.0,1.0
235,0.333333,0.1250,0.50,0.00,0.50,0.266667,0.400000,0.32,0.16,0.428571,0.190476,0.513305,0.197349,0.607477,0.315315,0.385997,0.030110,1.0,0.0

In [40]:
scaler = StandardScaler()

In [41]:
scaler.fit(X_train.values)

StandardScaler()

In [42]:
X_train = scaler.transform(X_train.values)
X_test = scaler.transform(X_test.values)

In [43]:
rf = RandomForestClassifier(n_estimators=300, max_features=2)
rf.fit(X_train, y_train)

RandomForestClassifier(max_features=2, n_estimators=300)

In [44]:
y_train+1

array([0, 2, 2, ..., 2, 2, 1])

In [48]:
rf.predict(X_test)

array([ 0,  1, -1, ...,  1,  1,  1])

In [50]:
rf.score(X_test,y_test)

0.5245029403528424

In [52]:
scores = rf.feature_importances_

In [62]:
X.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,19
0,0.066667,0.4375,0.33,0.17,0.50,0.200000,0.200000,0.12,0.16,0.380952,0.333333,0.339628,0.392047,0.485981,0.513514,0.030110,0.164297,0.0,1.0
1,0.133333,0.1875,0.50,0.33,0.17,0.466667,0.466667,0.24,0.16,0.333333,0.285714,0.468097,0.342563,0.551402,0.459459,0.601862,0.030110,0.0,1.0
2,0.266667,0.3125,0.00,0.17,0.83,0.600000,0.266667,0.16,0.28,0.095238,0.476190,0.283262,0.232990,0.439252,0.477477,0.129292,0.105955,0.0,1.0
3,0.400000,0.3125,0.83,0.00,0.17,0.266667,0.200000,0.24,0.32,0.666667,0.619048,0.500143,0.349926,0.644860,0.450450,0.561023,0.100121,0.0,1.0
4,0.266667,0.4375,0.00,0.00,1.00,0.533333,1.000000,0.12,0.84,0.238095,0.190476,0.186838,0.538439,0.242991,0.684685,0.030110,0.811894,0.0,1.0

In [53]:
scores

array([0.04746265, 0.04748315, 0.0384274 , 0.03207084, 0.04111116,
       0.05258415, 0.05144581, 0.05254152, 0.05240386, 0.05121923,
       0.05042072, 0.07959419, 0.08120171, 0.06969013, 0.06943406,
       0.08231562, 0.08158653, 0.00962824, 0.00937905])

In [58]:
['day','home_missing_player','away_missing_player','matchup_home_wins','matchup_draw',
    'matchup_away_wins', 'home_last_5_points', 'away_last_5_points', 'home_last_5_goals',
   'away_last_5_goals', 'home_last_5_conceded','away_last_5_conceded','home_last_5_passes',
   'away_last_5_passes', 'home_last_5_shot', 'away_last_5_shot','home_uefa','away_uefa','result']

RangeIndex(start=0, stop=20, step=1)

In [45]:
(pd.get_dummies(y_train)).shape

(8332, 3)

In [46]:
dtrain = xgb.DMatrix(data=X_train, label = y_train+1)
dtest = xgb.DMatrix(data=X_test, label = y_test+1)

In [590]:
params = {'n_estimators' : 200,
          'subsample' : 0.5,
          'colsample_bytree' : 0.5,
          'num_class' : 3,
         'objective' : 'multi:softprob',
         'eval_metric' : 'mlogloss',
         'early_stoppings' : 100 }

num_rounds = 10

In [591]:
wlist = [(dtrain, 'train'), (dtest,'eval')]
xgb_model = xgb.train(params = params, dtrain=dtrain, num_boost_round=num_rounds, evals=wlist)

[15:35:52] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:541:
Parameters: { early_stoppings, n_estimators } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-mlogloss:1.04042	eval-mlogloss:1.05583
[1]	train-mlogloss:1.00311	eval-mlogloss:1.03384
[2]	train-mlogloss:0.97396	eval-mlogloss:1.01851
[3]	train-mlogloss:0.95132	eval-mlogloss:1.01088
[4]	train-mlogloss:0.93511	eval-mlogloss:1.00512
[5]	train-mlogloss:0.92320	eval-mlogloss:1.00240
[6]	train-mlogloss:0.91204	eval-mlogloss:1.00112
[7]	train-mlogloss:0.90179	eval-mlogloss:1.00011
[8]	train-mlogloss:0.89257	eval-mlogloss:1.00035
[9]	train-mlogloss:0.88341	eval-mlogloss:0.99960

In [592]:
pred_probs = xgb_model.predict(dtest)

In [593]:
y_pred = np.argmax(pred_probs, axis=1)

In [594]:
def get_clf_eval(y_test, y_pred):
    confusion = confusion_matrix(y_test, y_pred)
    accuracy = accuracy_score(y_test, y_pred)

    print('오차행렬:\n', confusion)
    print('\n정확도: {:.4f}'.format(accuracy))

In [595]:
get_clf_eval(y_test+1,y_pred)

오차행렬:
 [[ 448   25  509]
 [ 200   30  611]
 [ 236   39 1277]]

정확도: 0.5200